<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!-- <bean id="calisan" class="com.hacidoganilbars.Calisan" /> -->
	<bean id="calisan" class="com.hacidoganilbars.Calisan" autowire="no">
		<property name="adi">
			<value>Hacı Doğan</value>
		</property>
		<property name="soyadi" value="İlbars" />
		<property name="adres" ref="adres"></property>
		<!-- <property name="adres" ref="adres"/> -->
		<!-- <property name="adres"><ref bean="adress"/></property> -->
	</bean>

	<bean id="adres" class="com.hacidoganilbars.Adres">
		<property name="tamAdresi" value="Osmaniye Kadirli" />
	</bean>
	
</beans>
