<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="personelServisBean" class="com.hacidoganilbars.PersonelServis">
		<property name="adi" value="Hacı Doğan" />
		<property name="soyadi" value="İlbars" />
		<property name="tecrube" value="2" />
	</bean>

	<bean id="cagirilanMetodOncesiVeSonrasiOzellikleriBean"
		class="com.hacidoganilbars.aop.CagirilanMetodOncesiVeSonrasiOzellikleri" />
		

	<bean id="basitBirPointcutBean" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="selamVer" />
	</bean>

	<bean id="basitBirAdvisorBean"
		class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="mappedName" value="adiSoyadiKontrolEt" />
		<property name="advice" ref="cagirilanMetodOncesiVeSonrasiOzellikleriBean" />
	</bean>

	<bean id="personelServisBeanProxy"
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

</beans>
